## FineTuning LLM
dataset_name = "You're Dataset name For FineTuning"
bnb_config = BitsAndBytesConfig(
    load_in_4bit = True / False,
    bnb_4bit_compute_dtype = torch.float16,
    bnb_4bit_quant_type = "nf4",
    bnb_4bit_use_double_quant = True/False
)
model_name = "You're LLM Model Name"


